<div id="slideshow" style="border-bottom: 10px solid #2E3437;">
	<%= image_tag "photo_1.jpg", height: "600px", style:"opacity: 1;", :class => "active" %>
	<%= image_tag "photo_2.jpg", height: "600px", style:"opacity: 1;", :class => "" %>
</div>
<section class="content-panel">
	<p class="display"><span style="color: #b49400">Manguez.al </span>/ Jobs Board</p>

	<ul>
		<li>Todos</li>
		<li>Desenvolvedores</li>
		<li>Negócios</li>
		<li>Designers</li>
		<li>Outros</li>
	</ul>
		
</section>
